body{
    background-color: #4cc4ff;
    margin: 0;
    background-image: url("Grid.png");
    font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: #1c2d8d;
    padding: 20px;
    display: block;
}
a{
    text-decoration: none;
    color: orangered;
    font-weight: 600;
    font-size: large;
    background-color: #19467a;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid orangered;
}
.NAME{
    margin: 0px;
    float: right;
    color: #6aafff;
    font-style: italic;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: dashed;
}
.about{
    border: 4px solid #1c2d8d;
    border-radius: 20px;
    margin: 10px;
    background-color: rgba(76, 0, 255, 0.527);
    background-image: url("Grid.png");
    background-position-x: center;
    background-position-y: center;
}
.about h3{
    margin: 0px 0px 20px 20px;
}